/* ------------------------ NotoSans ------------------------ */
@font-face {
    font-family: 'Noto Sans';
    src: url('../../public/fonts/Noto_Sans_Arabic/NotoSansArabic-VariableFont_wdth,wght.ttf');
    font-display: fallback;
}

/* ------------------------ Libre_Franklin ------------------------ */
@font-face {
    font-family: 'Roboto Flex';
    src: url('../../public/fonts/Libre_Franklin/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
    font-display: fallback;
}

.en-font {
    font-family:
            Roboto Flex,
        sans-serif;
}

.fa-font {
    font-family:
        Noto Sans,
        sans-serif;
}
html, body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.Mui-Loading {
    background-color: #121212;
}
