@import 'colors.css';
.rmdp-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*box-shadow:0px 0px 1px 0px var(--rmdp-box-shadow-theme),0px 6px 10px -6px var(--rmdp-box-shadow-theme) ;*/
    box-shadow: unset;
}
.rmdp-calendar {
    display: flex;
    padding: 0px;
}

.rmdp-header {
    display: flex;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.05);
}
.rmdp-day-picker {
    padding: 0px;
    min-height: 238px;
}
.rmdp-day span {
    border-radius: 9px;
    transition: 0.1s ease all;
}
.rmdp-today span {
    /*background-color: transparent;*/
    border: 1px solid;
}
.rmdp-disabled {
    pointer-events: none;
}
